/* Общие стили */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #1c1c1c;
  color: white;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.container {
  max-inline-size: 1140px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 0 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
}

p + p {
  margin-block-start: 15px;
}

img {
  max-inline-size: 100%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 49px;
  inline-size: 165px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #f6762c;
}

.btn:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

/* Стили для проекта */
/* Стили для шапки сайта */

.header {
  position: relative;
  /* display: flex; */
  padding: 25px 0;
  z-index: 10;
}

.header__container {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
}

.header__navigation {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.header__list {
  display: flex;
  gap: 28px;
}

.header__link {
  opacity: 0.7;
}

.header__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.header__link--active {
  font-weight: bold;
  opacity: 1;
}

/* Стили для секции 'Welcome' */

.welcome {
  margin-block-start: -100px;
  padding: 240px 0;
  background-image: url("./images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-block-size: 100vh;
  box-sizing: border-box;
}

.welcome__text {
  inline-size: 550px;
}

.welcome__subtitle {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-block-end: 7px;
}

.welcome__title {
  font-size: 58px;
  line-height: 67px;
}

.welcome__desc {
  margin: 40px 0;
  font-size: 18px;
  opacity: 0.7;
}

/* Стили для секции с карточками */

.food__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  padding: 100px 0;
}

.food-list__card {
  inline-size: 260px;
  background-color: rgb(49, 47, 48);
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}

.food-list__card:hover {
  cursor: pointer;
}

.food-list__card-img {
  inline-size: 100%;
  block-size: 175px;
  object-fit: cover;
}

.food-list__card-text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.food-list__card-title {
  font-size: 20px;
  line-height: 23px;
}

.food-list__card-text {
  font-size: 16px;
  line-height: 19px;
  opacity: 0.7;
}

/* Стили для секции заказа */

.order {
  background-color: rgb(49, 47, 48);
}

.order__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0;
}

.order__desc {
  max-inline-size: 371px;
  display: flex;
  flex-direction: column;
}

.order__title {
  font-size: 43px;
}

.order__text {
  font-size: 16px;
  opacity: 0.7;
  margin-block-start: 24px;
}

.price-block {
  display: flex;
  gap: 6px;
  margin-block-start: 13px;
  margin-block-end: 11px;
}

.order__price {
  font-size: 20px;
  color: #f6762c;
  letter-spacing: 0.1em;
}

.order__price--old {
  font-size: 16px;
  color: #f6762c;
  opacity: 0.5;
  letter-spacing: 0.1em;
  text-decoration-line: line-through;
}

/* Стили для секции продуктов */

.products {
  padding-top: 150px;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(2, 555px);
  gap: 30px;
  justify-content: center;
  /* justify-self: center; */
}

.product__card {
  block-size: 300px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 63px 30px 0 290px;
}

.product__card:nth-child(even) {
  padding-left: 50px;
  padding-right: 290px;
}

.product-coffee {
  background-image: url("./images/product-1.jpg");
}

.product-pizza {
  background-image: url("./images/product-2.jpg");
}

.product-burger {
  background-image: url("./images/product-3.jpg");
}

.product-papa {
  background-image: url("./images/product-4.jpg");
}

.product__card-title {
  font-size: 30px;
}

.product__card-desc {
  margin-block-start: 20px;
  opacity: 0.7;
}

.product-btn {
  inline-size: 141px;
  block-size: 39px;
  font-size: 12px;
}

/* Стили для секции feedback */

.feedback__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block-start: 146px;
}

.feedback__blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  inline-size: 370px;
  margin: 0;
}

.feedback__blockquote::before {
  content: url("./images/icons/quote.svg");
}

.feedback__text {
  font-size: 16px;
  opacity: 0.7;
  margin-block-start: 37px;
}

.feedback__cite {
  font-size: 24px;
  font-style: normal;
  margin-block-start: 27px;
}

.feedback__sub {
  font-size: 12px;
}

/* Стили для download */

.download {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block-start: 195px;
  background-color: rgb(49, 47, 48);
  padding: 62px 0;
}

.download__title {
  font-size: clamp(2.25rem, 2.1633rem + 0.37vw, 2.5rem);
}

/* Стили для блока footer */

.footer__container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: contacts nav socials;
  padding: 126px 0 140px 0;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.footer__logo {
  block-size: 72px;
  inline-size: 54px;
}

.footer__link {
  font-size: 14px;
  opacity: 0.7;
}

.footer__link-mail::before {
  content: url("./images/icons/mail.svg");
  margin-inline-end: 10px;
}

.footer__link-web::before {
  content: url("./images/icons/global.svg");
  margin-inline-end: 10px;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
}

.footer__nav-block {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-size: 16px;
  margin-block-end: 14px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer__nav-list-item {
  opacity: 0.7;
}

.footer__social-icons {
  display: flex;
  gap: 10px;
}

/* Медиазапросы для проекта */

@media (width <= 1200px) {
  /* Медиазапросы для секции с карточками */
  .food__container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 35px;
  }

  .food-list__card {
    inline-size: 350px;
  }

  /* Медиазапросы для секции заказа */
  .order__container {
    flex-direction: column;
  }

  .order__desc {
    align-items: center;
  }

  /*  Медиазапросы для секции с продуктами */
  .products__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product__card {
    max-inline-size: 555px;
  }

  /* Медиазапросы для блока footer */
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer__logo {
    margin: auto;
  }

  .footer__nav {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .footer__social-icons {
    justify-content: center;
  }
}

@media (width <= 1180px) {
  .feedback__container {
    flex-direction: column;
    gap: 70px;
  }
}

@media (width <= 720px) {
  .welcome {
    margin-block-start: -287px;
    padding-block-start: 350px;
    padding-block-end: 50px;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header__list {
    display: flex;
    flex-direction: column;
  }

  .header__btn {
    display: none;
  }

  .welcome {
    margin-block-start: -287px;
    padding-block-start: 350px;
    padding-block-end: 50px;
  }

  .welcome__text {
    inline-size: 250px;
  }

  .food__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

  .download {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

@media (width <= 500px) {
  .product__card {
    padding-block-start: 39px;
    padding-inline-start: 204px;
  }
  .product__card:nth-child(even) {
    padding-inline-end: 184px;
  }
}
